.fondo{
    background-color: #f3ebde;
}

.fondo2{
    background-color: #f3ebde;
}

.text-left, .text-center{
    font-family: Poppins;
    color:#674637;
}

.titulo{
    font-family: "Nunito";
    font-size: 22px;
    font-weight: 500;
}

.btn-accion {
    background-color: #f2e6d0; 
    border-radius: 4px; 
    padding: 6px;
    margin: 0 4px;
  
    &:hover {
      background-color: #dfcca7;
    }
  
    mat-icon {
      color: rgba(64, 30, 15, 0.508);
      font-size: 24px;
  }
}

.fondo-abajo{
    background-color: #f3ebde;
    color:#674637;
    font-family: Poppins;
    font-size: 13px;
}


.tachado {
    text-decoration: line-through;
    background-color: #d7c9ae;
    color: #000000;
    .text-center, .text-left{
        color:rgba(162, 140, 128, 0.92);
}
    
}