.dialog {
  height: auto;
  padding-bottom: 25px;
  .messege {
    // overflow: visible;
    height: auto;
    margin-top: 5px;
  }
  .buttons {
    justify-content: flex-end;
    margin-top: 1rem;
  }
  .title {
    margin-bottom: 11px;
  }
}

.mat-dialog-actions {
  padding: 0 !important;
}

::ng-deep .messege::-webkit-scrollbar {
  // overflow-y: hidden !important;
}

// Simple
::ng-deep .messege::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::ng-deep .messege::-webkit-scrollbar-track {
  border-radius: 10px;
  // background: rgba(0, 0, 0, 0.1);
}
::ng-deep .messege::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::ng-deep .messege::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
::ng-deep .messege::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
