<header>
  <nav class="navbar bg-body-tertiary m-4 px-4">
    <div class="container-fluid">
      <button class="btn btn-outline-success me-2 btn-crear px-4 py-2" type="button" (click)="agregar()">
        Crear 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2" />
        </svg>
      </button>
      <h1 class="text-center mx-auto">DONE!</h1>
    </div>
  </nav>
</header>

<nav>
    <section class="botones m-4">
      <!-- Tareas Creadas -->
      <button
        class="btn btn-outline-success me-2 btn-tarea p-2"
        type="button"
       
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
        </svg>
        Tareas creadas
      </button>
  
      <!-- Tareas Eliminadas -->
      <button class="btn btn-outline-success me-2 btn-tarea p-2" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
        Tareas eliminadas
      </button>
    </section>
  </nav>