* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2e6d0;
    font-family: "Poppins";
}

.navbar {
    background-color: #154038 !important;
    border-radius: 10px;
}

h1 {
    color: #f2e6d0;
    font-weight: 900;
    font-family: nunito;
    margin: 0;
}

.registro {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.registrarse {
    height: 45vh;
    width: 30%;
    background-image: url('/assets/img/fondo.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #f2e6d0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    border-radius: 40px 0 0 40px; 
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.19);
}

.registrarse h2 {
    color: #f2e6d0;
    font-weight: 700;
    font-family: nunito;
    font-size: 56px;
    margin-bottom: 20px; 
}

.registrarse h3 {
    color: #f2e6d0;
    font-weight: 100;
    font-family: nunito;
    font-size: 18px;
    margin-bottom: 20px; 
}

.btn-ingresar {
    background-color: #154038;
    color: #f2e6d0;
    padding: 10px 0; 
    font-size: 16px; 
    width: 100%; 
    max-width: 350px;
    margin-top: 10px;
}

.btn-ingresar:hover {
    background-color: #1b5147;
}

.registro-form {
    height: 45vh;
    background-color: #6b9c8980;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: black;
    border-radius: 0px 40px 40px 0px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.registro-form h2 {
    font-weight: 500;
    font-family: nunito;
    font-size: 26px;
    margin-bottom: 20px;
}

.registro-form h3 {
    font-weight: 300;
    font-family: nunito;
    font-size: 18px;
}

.btn-registrar {
    background-color: #154038;
    color: #f2e6d0;
    width: 100%;
    max-width: 350px; 
}

.registro-form form div input {
    background-color: #fff9ee;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #154038;
    border-radius: 10px;
    width: 100%; 
    max-width: 350px; 
}

.btn-registrar:hover {
    background-color: #1b5147;
}