<section class="registro m-4">
    <div class="registrarse p-4">
      <h2>¡Regístrate!</h2>
      <h3>Si ya tienes cuenta, haz clic aquí abajo.</h3>
      <button type="button" class="btn btn-ingresar p-2" (click)="iniciarSesion()">Iniciar sesión</button>
    </div>
  
    <div class="registro-form">
      <h2>Crea tu cuenta</h2>
      <div class="form">
        <form [formGroup]="formRegistro" (ngSubmit)="registro()">
          <div>
            <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre" />
          </div>
          <div>
            <input type="text" id="apellido" formControlName="apellido" placeholder="Apellido" />
          </div>
          <div>
            <input type="text" id="username" formControlName="username" placeholder="Usuario" />
          </div>
          <div>
            <input type="password" id="password" formControlName="password" placeholder="Contraseña" />
          </div>
          <button type="submit" class="btn btn-registrar px-5 py-2">Confirmar</button>
        </form>
      </div>
    </div>
  </section>